.navBar {
  width: 100%;
  height: 100px;
  background-color: #3b92d3;
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  align-items: center;
  font-style: oblique;
  font-size: large;
}
.navBar .home {
  margin-left: 40%;
}
